
/* text.js */

@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

.text-body {
  /* width: 90%; */
  /* max-width: 900px; */
  margin: 0 auto;
  font-family: Source Serif Pro, serif;
  line-height: 1.5; font-size: 1.3rem;
  > p:not(:first-of-type) {
    margin-right: 50%;
    /* ensures that text (after the first paragraph) is readable around the sticky element */
    @media all and (max-width: 600px) {
      margin-right: 0;
      /* removes this margin at small screen sizes */
    }
  }
}

div#sticky {
  font-family: Open Sans, sans-serif;
  font-size: 1.1rem;
  width: 50%;
  padding: 2.2rem;
  padding-bottom: 3rem;
  padding-top: 0;
  float: right;
  position: -webkit-sticky;
  /* for Safari */
  position: sticky;
  /* for Firefox & final spec */
  top: 0px;
  /* _required_. (Alternatively, bottom, left or right, depending on direction of scroll) */
  @media all and (max-width: 600px) {
		position: static !important;
    float: none;
    width: 100%;
    padding-bottom: 0;
    /* resets the block to flow with the rest of the document at small screen widths */
  }
  img {
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }
  +div {
    display: none;
    /* gets rid of the empty div imposed by the polyfill below the previously sticky element when the screen width is low. */
  }
}

/* table.js */

table {
  text-align: left;
  position: relative;
  border-collapse: collapse;
}

th, td {
  padding: 0.25rem;
}

tr.red th {
  background: red;
  color: white;
}

tr.green th {
  background: green;
  color: white;
}

tr.purple th {
  background: purple;
  color: white;
}

th {
  background: white;
  position: sticky;
  /* Don't forget this, required for the stickiness */
  top: 0;
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.4);
}

/* simple.js */

/* #parent { */
  /* width: 100%; */
  /* width: 1000px; */
  /* height: 1000px; */
  /* background-color: red; */
/* } */

#child {
  width: 200px;
  height: 200px;
  background-color: blue;
  position: sticky;
  top: 0px;
  left: 0px;
}
